<div class="container mt-4 ">
    <div class="form-section">
        <h4 class="text-primary font-weight-bold">Lorem ipsum</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNumber1">Lorem ipsum</label>
                <input type="number" class="form-control" id="inputNumber1" value="1">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNumber2">Lorem ipsum</label>
                <input type="number" class="form-control" id="inputNumber2" value="35">
            </div>
        </div>
    </div>
    <h4 class="text-primary font-weight-bold">Lorem ipsum</h4>
    <div class="form-section">
        <div class="row justify-content-between">
            <label for="timeInput" class="ml-3 font-weight-bold">Time 1 </label>
            <div class="form-group mr-4">
                <label>&nbsp;</label>
                <button type="button" class="icon-button">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="time-section justify-content-between">
            <div class="form-group">
                <label for="timeInput">Time</label>
                <select class="form-control" id="timeInput">
                    <option>12:00</option>
                    <!-- Other time options here -->
                </select>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="custom-control custom-switch">
                    <!-- Move the label text before the input element -->
                    <label class="custom-control-label" for="allDaySwitch">All day</label>
                    <input type="checkbox" class="custom-control-input" id="allDaySwitch">
                </div>
            </div>

        </div>
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="d-flex justify-content-between">
                <div class="day-checkbox">
                    <input type="checkbox" id="day-mon">
                    <label for="day-mon">M</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-tue">
                    <label for="day-tue">T</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-wed">
                    <label for="day-wed">W</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-thurs">
                    <label for="day-thurs">T</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-fri">
                    <label for="day-fri">F</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-sat">
                    <label for="day-sat">S</label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="day-sun">
                    <label for="day-sun">S</label>
                </div>
                <!-- Repeat for each day -->
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="hourInput">Hour</label>
                <input type="number" class="form-control" id="hourInput" value="1">
            </div>
            <div class="form-group col-md-6">
                <label for="minuteInput">Minute</label>
                <input type="number" class="form-control" id="minuteInput" value="35">
            </div>
        </div>
    </div>
</div>